:root {
    --primary-color: #627da1;
    --background-color: #d2d4c9;
    --text-layout-color: #fff;
    --text-title-color: #333;
    --text-p-color: #666;
    --card-background-color: #fff;
}
  
/*
    --primary-color: #d4af37;
    --background-color: #f5f5f5;
    --text-layout-color: #fff;
    --text-title-color: #333;
    --text-p-color: #666;
    --card-background-color: #f0f0f0;
*/