/* Styles pour le header */
header {
    background-color: #d4af37;
    padding: 1rem;
  }
  
  /* Styles pour la navigation */
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrer les liens */
    gap: 2rem; /* Espacement entre les liens */
    margin: 0;
    padding: 0;
  }
  
  /* Styles pour les liens */
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: transform 0.1s ease, color 0.1s ease;
  }
  
  /* Effet au survol */
  .nav-links :hover {
    transform: scale(1.2);
  }
  
/* Styles pour le menu burger */
.burger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Styles pour la navigation sur mobile */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #d4af37;
    padding: 1rem;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
    text-align: center;
  }
}
